.heading {
  color: #3d4281;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin: 35px 0px 10px;
}

h2 {
  font-size: 60pt;
}

body {
  background-color: #BEC5C9;
  background-image: none
  min-height: 400px;
  min-width: 100px;
  background-attachment: fixed;
  background-position: right top;
  background-repeat: no-repeat;
  margin-right: 2em;
}

p {
  font-family: 'Droid_Serif', serif;
  color: #338CB5;
  text-align: justify;
  margin: 20px 15% 0px;
  text-indent: 1em;
}

p.first-p {
  border-top-style: dotted;
  padding-top: 25px;
  margin-top: 25px;
  border-width: 2px;
  border-color: #8B8A85;
}

p.first-transition {
  border-bottom-style: dotted;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-width: 2px;
  border-color: #8B8A85;
}

p.end-p {
  border-bottom-style: groove;
  padding-bottom: 40px;
  margin-bottom: 25px;
  border-width: 2px;
  border-color: #F7E268;
  font-style: oblique;
}
